.calculatorBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 350px;
    border-style: solid;
    border-radius: 20px;
    background-color: darkslategray;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}

.calculatorDisplay {
    border-style: solid;
    border-radius: 20px;
    width: 250px;
    height: 80px;
    margin: 10px;
    background-color: oldlace;
}

.numberInput {
    padding: 20px;
    border-radius: 5px;
    background-color: skyblue;
    margin: 5px;
}

.functionSelector {
    padding: 20px;
    border-radius: 5px;
    background-color: darkorange;
    margin: 5px;
}